# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
out
build
.turbo
*.tsbuildinfo

# Environment
.env
.env.local
.env.production
.env*.local

# Misc
.DS_Store
*.pem
.vercel
*.log
bun.lockb
