openapi: 3.1.0
info:
  title: SpeedPlus API
  version: 1.0.0
  description: |
    Fintech-grade delivery and payments API for the SpeedPlus platform.

    **Authentication**: Bearer JWT — obtain via `/api/v1/auth/login` or `/api/v1/auth/register`.

    **Idempotency**: Money-moving POSTs (`/orders`, `/wallet/fund`, `/wallet/transfer`,
    `/earnings/cashout`, `/orders/:id/review`, merchant `/withdraw`) require an
    `Idempotency-Key` header (UUID v4 recommended). Replaying the same key within
    24 h returns the cached response without re-executing the operation.

    **Pagination**: All list endpoints use keyset (cursor) pagination.
    Pass the `id` of the last item as `cursor` to fetch the next page.
    Cursors are stable: ordering is `(created_at DESC, id DESC)`.

    **Rate limiting**: Responses include `X-RateLimit-Limit` and
    `X-RateLimit-Remaining` headers. On 429 a `Retry-After` (seconds) header
    is also set.

    **Versioning**: Current version is `v1`. The URL prefix `/api/v1` is the
    stable contract. A future `v2` will be introduced with a deprecation notice
    in the `Deprecation` and `Sunset` response headers on v1 endpoints.

servers:
  - url: https://api.speedplus.ng/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Auth
  - name: OTP
  - name: Users
  - name: KYC
  - name: Catalog
  - name: Quotes
  - name: Orders
  - name: Wallet
  - name: Paycodes
  - name: Merchant
  - name: Driver
  - name: Loyalty
  - name: Subscriptions
  - name: Admin

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    cursor:
      name: cursor
      in: query
      description: ID of the last item from the previous page.
      schema:
        type: string
        format: uuid

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
            field:
              type: string

    PaginatedMeta:
      type: object
      properties:
        nextCursor:
          type: string
          format: uuid
          nullable: true

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        role:
          type: string
          enum: [customer, driver, merchant, admin]
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        referralCode:
          type: string
        isVerified:
          type: boolean
        createdAt:
          type: string
          format: date-time

    Merchant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        businessName:
          type: string
        vertical:
          type: string
          enum: [food, grocery, pharmacy, gas, package]
        status:
          type: string
          enum: [pending, approved, suspended]
        isOpen:
          type: boolean
        rating:
          type: number
          format: float

    Product:
      type: object
      properties:
        id:
          type: string
          format: uuid
        merchantId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        priceKobo:
          type: integer
          format: int64
        category:
          type: string
        isAvailable:
          type: boolean

    Quote:
      type: object
      properties:
        id:
          type: string
          format: uuid
        distanceKm:
          type: number
          format: float
        etaMinutes:
          type: integer
        subtotalKobo:
          type: integer
          format: int64
        deliveryKobo:
          type: integer
          format: int64
        serviceKobo:
          type: integer
          format: int64
        totalKobo:
          type: integer
          format: int64
        weatherAdvisory:
          type: string
          nullable: true
        expiresAt:
          type: string
          format: date-time

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        vertical:
          type: string
          enum: [food, grocery, pharmacy, gas, package]
        status:
          type: string
          enum: [pending, confirmed, preparing, ready_for_pickup, driver_assigned,
                 in_transit, delivered, cancelled]
        paymentMethod:
          type: string
          enum: [wallet, pay_on_arrival]
        subtotalKobo:
          type: integer
          format: int64
        deliveryKobo:
          type: integer
          format: int64
        serviceKobo:
          type: integer
          format: int64
        tipKobo:
          type: integer
          format: int64
        totalKobo:
          type: integer
          format: int64
        trackingRef:
          type: string
          nullable: true
        driverName:
          type: string
          nullable: true
        driverRating:
          type: number
          nullable: true
        driverVehicle:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    LedgerEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        amountKobo:
          type: integer
          format: int64
        description:
          type: string
        refType:
          type: string
        createdAt:
          type: string
          format: date-time

security:
  - bearerAuth: []

paths:
  # ── Auth ──────────────────────────────────────────────────────────────────────
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firstName, lastName, phone, password]
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                phone:
                  type: string
                password:
                  type: string
                  minLength: 8
                role:
                  type: string
                  enum: [customer, driver, merchant]
                  default: customer
                referralCode:
                  type: string
                vehicleType:
                  type: string
                  enum: [bicycle, motorcycle, car, van]
                  description: Required when role=driver
                vehiclePlate:
                  type: string
                  description: Required when role=driver
      responses:
        '201':
          description: Registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                      refreshToken:
                        type: string
                      user:
                        $ref: '#/components/schemas/User'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Phone already registered

  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password]
              properties:
                phone:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Authenticated
        '401':
          description: Invalid credentials

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: New token pair
        '401':
          description: Session expired

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout (revoke refresh token)
      responses:
        '200':
          description: Logged out

  # ── OTP ───────────────────────────────────────────────────────────────────────
  /otp/request:
    post:
      tags: [OTP]
      summary: Request an OTP
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, purpose]
              properties:
                phone:
                  type: string
                purpose:
                  type: string
                  enum: [verify_phone, reset_password]
      responses:
        '200':
          description: OTP sent
        '429':
          description: Rate limited
          headers:
            Retry-After:
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer

  /otp/verify:
    post:
      tags: [OTP]
      summary: Verify an OTP
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, otp, purpose]
              properties:
                phone:
                  type: string
                otp:
                  type: string
                purpose:
                  type: string
      responses:
        '200':
          description: Verified
        '422':
          description: Invalid or expired OTP

  # ── Catalog ───────────────────────────────────────────────────────────────────
  /merchants:
    get:
      tags: [Catalog]
      summary: List merchants
      security: []
      parameters:
        - name: vertical
          in: query
          schema:
            type: string
            enum: [food, grocery, pharmacy, gas, package]
        - name: page
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Merchant list
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=60
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      merchants:
                        type: array
                        items:
                          $ref: '#/components/schemas/Merchant'

  /merchants/{id}:
    get:
      tags: [Catalog]
      summary: Get a merchant
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Merchant
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=60
        '404':
          description: Not found

  /products:
    get:
      tags: [Catalog]
      summary: List products for a merchant
      security: []
      parameters:
        - name: merchantId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Product list
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=60

  /products/search:
    get:
      tags: [Catalog]
      summary: Full-text product search
      security: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: vertical
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Search results

  /products/{id}:
    get:
      tags: [Catalog]
      summary: Get a product
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Product
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=60
        '404':
          description: Not found

  # ── Quotes ────────────────────────────────────────────────────────────────────
  /quotes:
    post:
      tags: [Quotes]
      summary: Get a delivery quote (single dropoff)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchantId, vertical, subtotalKobo, originLat, originLng, destLat, destLng]
              properties:
                merchantId:
                  type: string
                  format: uuid
                vertical:
                  type: string
                subtotalKobo:
                  type: integer
                  format: int64
                originLat:
                  type: number
                originLng:
                  type: number
                destLat:
                  type: number
                destLng:
                  type: number
                weightKg:
                  type: number
                sizeCategory:
                  type: string
                  enum: [small, medium, large]
      responses:
        '200':
          description: Quote
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Quote'

  /quotes/multistop:
    post:
      tags: [Quotes]
      summary: Get a multi-stop delivery quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchantId, vertical, subtotalKobo, origin, stops]
              properties:
                merchantId:
                  type: string
                  format: uuid
                vertical:
                  type: string
                subtotalKobo:
                  type: integer
                  format: int64
                origin:
                  type: object
                  properties:
                    lat:
                      type: number
                    lng:
                      type: number
                stops:
                  type: array
                  minItems: 1
                  maxItems: 6
                  items:
                    type: object
                    properties:
                      lat:
                        type: number
                      lng:
                        type: number
                weightKg:
                  type: number
                sizeCategory:
                  type: string
      responses:
        '200':
          description: Multi-stop quote

  # ── Orders ────────────────────────────────────────────────────────────────────
  /orders:
    get:
      tags: [Orders]
      summary: List customer orders
      parameters:
        - $ref: '#/components/parameters/cursor'
        - name: vertical
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, preparing, ready_for_pickup, driver_assigned,
                   in_transit, delivered, cancelled]
      responses:
        '200':
          description: Order list

    post:
      tags: [Orders]
      summary: Place an order
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchantId, quoteId, vertical, deliveryAddressId, items]
              properties:
                merchantId:
                  type: string
                  format: uuid
                quoteId:
                  type: string
                  format: uuid
                vertical:
                  type: string
                deliveryAddressId:
                  type: string
                  format: uuid
                paymentMethod:
                  type: string
                  enum: [wallet, pay_on_arrival]
                  default: wallet
                tipKobo:
                  type: integer
                  format: int64
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [productId, quantity]
                    properties:
                      productId:
                        type: string
                      quantity:
                        type: integer
                        minimum: 1
                      unitPriceKobo:
                        type: integer
                        format: int64
      responses:
        '201':
          description: Order created
        '400':
          description: Validation error / missing Idempotency-Key
        '409':
          description: Merchant closed
        '422':
          description: Quote invalid or prescription required

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Get order by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order
        '404':
          description: Not found

  /orders/{id}/cancel:
    post:
      tags: [Orders]
      summary: Cancel an order
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Cancelled
        '404':
          description: Order not found
        '409':
          description: Cannot cancel from current status

  /orders/{id}/review:
    post:
      tags: [Orders]
      summary: Submit a post-delivery review
      description: |
        Idempotent — include an `Idempotency-Key` header to prevent duplicate
        reviews on network retry. Only callable after the order is `delivered`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [revieweeType, rating]
              properties:
                revieweeType:
                  type: string
                  enum: [driver, merchant]
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
                  nullable: true
      responses:
        '201':
          description: Review submitted
        '400':
          description: Missing Idempotency-Key
        '422':
          description: Validation error (order not delivered, already reviewed, etc.)

  /orders/{id}/receipt:
    get:
      tags: [Orders]
      summary: Get order receipt / invoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Receipt
        '403':
          description: Forbidden
        '404':
          description: Not found

  # ── Wallet ────────────────────────────────────────────────────────────────────
  /wallet:
    get:
      tags: [Wallet]
      summary: Get wallet balance
      responses:
        '200':
          description: Balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      balanceKobo:
                        type: integer
                        format: int64
                      currency:
                        type: string
                        example: NGN

  /wallet/transactions:
    get:
      tags: [Wallet]
      summary: List wallet transactions
      parameters:
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      transactions:
                        type: array
                        items:
                          $ref: '#/components/schemas/LedgerEntry'

  /wallet/fund:
    post:
      tags: [Wallet]
      summary: Initiate wallet top-up via Paystack
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amountKobo, email, callbackUrl]
              properties:
                amountKobo:
                  type: integer
                  format: int64
                  minimum: 100
                email:
                  type: string
                  format: email
                callbackUrl:
                  type: string
                  format: uri
      responses:
        '200':
          description: Paystack authorization URL

  /wallet/transfer:
    post:
      tags: [Wallet]
      summary: Transfer funds to another user
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amountKobo, pin]
              properties:
                recipientId:
                  type: string
                  format: uuid
                username:
                  type: string
                phone:
                  type: string
                amountKobo:
                  type: integer
                  format: int64
                  minimum: 100
                pin:
                  type: string
                  minLength: 4
                  maxLength: 4
      responses:
        '200':
          description: Transfer successful
        '404':
          description: Recipient not found
        '422':
          description: Insufficient balance or wrong PIN

  # ── Merchant self-service ─────────────────────────────────────────────────────
  /merchant/orders:
    get:
      tags: [Merchant]
      summary: List merchant's incoming orders
      parameters:
        - $ref: '#/components/parameters/cursor'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, preparing, ready_for_pickup, cancelled]
      responses:
        '200':
          description: Order list

  /merchant/orders/{id}/transition:
    post:
      tags: [Merchant]
      summary: Transition an order status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to]
              properties:
                to:
                  type: string
                  enum: [confirmed, preparing, ready_for_pickup, cancelled]
                note:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Updated
        '409':
          description: Illegal transition

  /merchant/products:
    get:
      tags: [Merchant]
      summary: List merchant's products (includes unavailable)
      responses:
        '200':
          description: Product list
    post:
      tags: [Merchant]
      summary: Create a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, priceKobo]
              properties:
                name:
                  type: string
                description:
                  type: string
                  nullable: true
                priceKobo:
                  type: integer
                  format: int64
                  minimum: 1
                category:
                  type: string
                isAvailable:
                  type: boolean
      responses:
        '201':
          description: Product created

  /merchant/withdraw:
    post:
      tags: [Merchant]
      summary: Withdraw merchant earnings to bank account
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amountKobo, pin]
              properties:
                amountKobo:
                  type: integer
                  format: int64
                  minimum: 100000
                  description: Minimum ₦1,000
                pin:
                  type: string
                  minLength: 4
                  maxLength: 4
                withdrawalType:
                  type: string
                  enum: [instant, standard]
                  default: standard
      responses:
        '200':
          description: Withdrawal initiated
        '422':
          description: Insufficient balance or wrong PIN

  # ── Admin ─────────────────────────────────────────────────────────────────────
  /admin/kyc/queue:
    get:
      tags: [Admin]
      summary: KYC review queue
      responses:
        '200':
          description: Pending KYC submissions

  /admin/orders:
    get:
      tags: [Admin]
      summary: Search orders
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Order list

  /admin/disputes/{orderId}/freeze:
    post:
      tags: [Admin]
      summary: Freeze escrow for a disputed order
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Escrow frozen

  /admin/disputes/{orderId}/release:
    post:
      tags: [Admin]
      summary: Release frozen escrow
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Escrow released

  /admin/settings/fees:
    get:
      tags: [Admin]
      summary: List fee configs
      responses:
        '200':
          description: Fee configs
    put:
      tags: [Admin]
      summary: Upsert a fee config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vertical]
              properties:
                vertical:
                  type: string
                baseFeeKobo:
                  type: integer
                  format: int64
                perKmKobo:
                  type: integer
                  format: int64
                servicePct:
                  type: number
                  format: float
      responses:
        '200':
          description: Updated
